// Text Sizes
$text-size-xxl: 86px;
$text-size-xl: 46px;
$text-size-l: 30px;
$text-size-ml: 20px;
$text-size-m: 14px;
$text-size-s: 12px;
$text-size-xs: 9px;

/* Font Sizes */
$global-text-size-xxl: #{$text-size-xxl};
$global-text-size-xl: #{$text-size-xl};
$global-text-size-l: #{$text-size-l};
$global-text-size-ml: #{$text-size-ml};
$global-text-size-m: #{$text-size-m};
$global-text-size-s: #{$text-size-s};
$global-text-size-xs: #{$text-size-xs};