.book-list-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h2{
        margin: 2rem 0;
        color: white;
    }

    .book-list{
        display: flex;
        justify-content: center; 
        flex-wrap: wrap;
        gap: 4rem;
        width: 100%;
    }
}